.content {
    max-width: calc(880 / 1770 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    background: rgba(122, 119, 119, 0.38);
}

.content__column {}

.list__news {}

.post_news {
    padding: 50px 0;
}

.body__post,
.header__post {
    border-radius: 10px;
    background: rgba(213, 188, 147, 0.91);
    box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.32);
    background-blend-mode: luminosity;
}

.body__post {
    padding: 15px 20px;
}

.header__post {
    padding: 10px 18px;
    margin-bottom: 15px;

    font-style: normal;
    font-weight: 400;

}