.main__block {
    display: flex;
    margin-top: 25px;
}


.content {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-left: 45px;
}

.bg-content {
    background: url("../img/bg_content.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.sidebar {
    margin-left: 50px;
    background: url("../img/bg_sidebar.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    height: 70vh;
}

.card-sidebar {
    border-radius: 10px 10px 10px 10px;
    background: rgba(213, 188, 147, 0.91);
    background-blend-mode: luminosity;
}

.sidebar__title {
    padding: 0;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid rgba(122, 119, 119, 0.61);
    background: #39190D;

    color: #C2B92C;
    font-family: OldOakAP;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.sidebar__list-item {
    font-family: OldOakAP;
}

.sidebar__list-item {
    font-family: OldOakAP;

}

.sidebar__list-link {
    font-size: 18px;
    color: #39190D;
}

.list__news {
    padding: 30px;
}


.card__news {
    border-radius: 12px;
    background: rgba(213, 188, 147, 0.91);
    box-shadow: (2px 2px 2px rgba(0, 0, 0, 0.86));
    border: 1px solid #39190D;
}

.news__title {
    display: flex;
    align-items: center;
    font-family: OldOakAP;
    padding: 20px;
    color: #C2B92C;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    border-radius: 10px 10px 0px 0px;
    background: #39190D;
    background-blend-mode: luminosity;

}


.news__title::before {
    content: url("../img/skull.svg");
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

.post__time {
    font-family: OldOakAP;
    padding: 20px;
    font-size: 16px;
}

.body__post {
    padding: 15px 20px;

    box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.32);
}


.header__post {
    padding: 10px 18px;
    margin-bottom: 15px;

    font-style: normal;
    font-weight: 400;

}


.sticky {
    position: sticky;
    top: 100px;
    left: 0;
    right: 0;
}


.form-text {
    color: #C2B92C !important;
    font-family: OldOakAP;
    font-size: 14px;
}

@media (max-width:768px) {
    .sidebar {
        display: none;
    }

    .content {
        margin-left: 0;
    }

}

@media (max-width:576px) {
    .news__comment {
        font-size: 12px;
    }

    .news__title {
        font-size: 18px;
    }

    .card-link {
        font-size: 12px;
    }

    .post__time {
        font-size: 12px;
    }
}