.content {
    max-width: calc(880 / 1770 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    /* background: rgba(122, 119, 119, 0.38); */
}

.main__block {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}


.post_news {
    background: rgb(238 233 221);
    padding: 50px 50px;
    border-radius: 18px;
}

.body__post,
.header__post {
    border-radius: 10px;
    background: rgb(222 211 186);
    box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.32);
    background-blend-mode: luminosity;
}

.body__post {
    padding: 15px 20px;

    box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.32);
}


.header__post {
    padding: 10px 18px;
    margin-bottom: 15px;

    font-style: normal;
    font-weight: 400;

}


.sticky {
    position: sticky;
    top: 50px;
    left: 0;
    right: 0;
}

.banner-img_sticky {
    width: 250px;
    position: sticky;
    top: 50px;
    left: 200px;
    right: 0;
}

.auth {
    display: flex;
    align-items: flex-start;
    padding: 0 25px;
}

.auth__section {
    border-radius: 16px;
    background: rgba(57, 25, 13, 0.55);
    padding: 25px 0;
}

.auth__label {
    color: #C2B92C !important;
    font-family: OldOakAP;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.auth__title {
    padding: 15px;
    color: #C2B92C;
    font-family: OldOakAP;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.form-text {
    color: #C2B92C !important;
    font-family: OldOakAP;
    font-size: 14px;
}