@font-face {
    font-family: 'OldOakAP';
    src: url('../fonts/oldoakap.eot');
    /* IE 9 Compatibility Mode */
    src: url('../fonts/oldoakap.eot?#iefix') format('embedded-opentype'),
        /* IE < 9 */
        url('../fonts/oldoakap.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/oldoakap.woff') format('woff'),
        /* Firefox >= 3.6, any other modern browser */
        url('../fonts/oldoakap.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/oldoakap.svg#oldoakap') format('svg');
    /* Chrome < 4, Legacy iOS */
}