.header__fixed {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    bottom: auto !important;
}

.header__mr {
    margin-left: auto;
}

.header {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    position: relative;
    background: url("../img/bg_header2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-bottom: 45px;
}

.hidden {
    display: none;

}

.header__nav {
    padding: 15px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    font-family: "OldOakAP", sans-serif;
    border-radius: 10px 10px 0 0;
    border: 1px solid #66471B;

    background: rgba(57, 25, 13, 0.95);
}

.header__navbar-brand,
.header__nav-link {
    color: rgba(194, 185, 44, 0.71) !important;
}

.header__navbar-brand {

    font-size: 45px;
}

.header__nav-link {

    text-shadow: 1px 2px 4px rgba(16, 14, 14, 0.51);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.header__nav-link:hover {

    padding: 0;
}

.header__nav-link:hover::before {
    content: url("../img/torch.svg");
    width: 30px;
    height: 30px;
    padding: 0;

}

.header__nav-link.active {
    padding: 0;
}

.header__nav-link.active::before {
    content: url("../img/torch.svg");
    width: 30px;
    height: 30px;
    padding: 0;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-top: 8px;
}

.header__dropdown-menu {

    border-radius: 0px 0px 10px 10px;
    border: 1px solid #000;
    background: rgba(57, 25, 13, 0.77);
}



.header__dropdown-item {
    color: rgba(194, 185, 44, 0.71);
}

.header__column {
    width: calc(100% / 3);
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.logo__navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.logo__title {
    margin-bottom: 55px;
    font-family: OldOakAP;
    font-size: 200px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;

    /* text-shadow: 2px 4px 4px rgb(255, 253, 253); */
}

.fire {
    margin: 50px auto;
    width: 80%;
    max-width: 1000px;
    height: 230px;

    background-position: center center;
    background-size: 1000px 200px;
    border-radius: 10px;
    font-family: 'Akronim';
    overflow: hidden;
    text-align: center;
    vertical-align: middle;

}

.fire:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.Blazing {
    display: inline-block;
    margin: 0;

    color: #811A02;
    line-height: 50px;
    min-width: 50px;
    outline: none;
    vertical-align: middle;

    text-shadow:
        0 3px 20px red,
        0 0 20px red,
        0 0 10px orange,
        4px -5px 6px yellow,
        -4px -10px 10px yellow,
        0 -10px 30px yellow;
    animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
    0% {
        text-shadow: 0 3px 20px red, 0 0 20px red,
            0 0 10px orange,
            0 0 0 yellow,
            0 0 5px yellow,
            -2px -5px 5px yellow,
            4px -10px 10px yellow;
    }

    25% {
        text-shadow: 0 3px 20px red, 0 0 30px red,
            0 0 20px orange,
            0 0 5px yellow,
            -2px -5px 5px yellow,
            3px -10px 10px yellow,
            -4px -15px 20px yellow;
    }

    50% {
        text-shadow: 0 3px 20px red, 0 0 20px red,
            0 -5px 10px orange,
            -2px -5px 5px yellow,
            3px -10px 10px yellow,
            -4px -15px 20px yellow,
            2px -20px 30px rgba(255, 255, 0, 0.5);
    }

    75% {
        text-shadow: 0 3px 20px red, 0 0 20px red,
            0 -5px 10px orange,
            3px -5px 5px yellow,
            -4px -10px 10px yellow,
            2px -20px 30px rgba(255, 255, 0, 0.5),
            0px -25px 40px rgba(255, 255, 0, 0)
    }

    100% {
        text-shadow: 0 3px 20px red, 0 0 20px red,
            0 0 10px orange,
            0 0 0 yellow,
            0 0 5px yellow,
            -2px -5px 5px yellow,
            4px -10px 10px yellow;
    }
}

.navbar-nav .nav-link.active {
    color: #C2B92C !important;
    text-shadow: 1px 2px 4px rgba(16, 14, 14, 0.51);
    font-family: OldOakAP;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
}

.navbar-toggler {
    background-color: #956600;
}



@media (max-width:1440px) {

    .header {
        background-size: 100%;
    }

    .Blazing {
        line-height: normal;
        font-size: 150px;
    }

    .fire {
        width: 100%;
        max-width: 1000px;
        height: 350px;
        background-position: center center;
        background-size: 1440px 200px;
        border-radius: 10px;
        font-family: 'Akronim';
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
    }


    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        background-image: var(--bs-navbar-toggler-icon-bg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
}

@media (max-width:1024px) {
    .header__nav {
        width: 100%;

    }

    .header {
        background-size: cover;
    }

    .Blazing {
        line-height: normal;
        font-size: 150px;
    }

    .fire {
        width: 100%;
        /* max-width: 768px; */
        height: 180px;
        background-position: center center;
        background-size: 1024px 200px;
        border-radius: 10px;
        font-family: 'Akronim';
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
    }
}

@media (max-width:992px) {
    .header__nav {
        bottom: auto;
    }

}

@media (max-width:762px) {
    .header {
        height: 100px;
        background: none;
        z-index: 1030;
    }

    .hidden {
        display: block;
    }

    .Blazing {
        line-height: normal;
        font-size: 150px;
    }

    .fire {
        width: 100%;
        /* max-width: 768px; */
        height: 180px;
        background-position: center center;
        background-size: 768px 200px;
        border-radius: 10px;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
    }
}

@media (max-width:576px) {
    .logo__navbar {
        display: none;
    }

    .header__navbar-brand {
        font-size: 32px;
    }



}